!!! html
html
  head
    meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
    title shib - Query your Hive!
    link(type="text/css", href="css/redmond/jquery-ui-1.8.13.custom.css", rel="stylesheet")
    link(type="text/css", href="css/shib.css", rel="stylesheet")
    link(type="text/css", href="http://fonts.googleapis.com/css?family=Artifika:regular", rel="stylesheet")
    script(type="text/javascript", src="js/jquery-1.5.1.min.js")
    script(type="text/javascript", src="js/jquery-ui-1.8.13.custom.min.js")
    script(type="text/javascript", src="https://www.google.com/jsapi")
    script(type="text/javascript", src="js/data1.js")
    script(type="text/javascript", src="js/data2.js")
    script(type="text/javascript", src="js/shib.graphtest.js")
    script(type="text/javascript", src="js/shib.js")
  body
    #titlearea
      #title shib
      #subtitle "Shib is a Hive Interface for Beginners"
    #noticearea
      .ui-widget#infoarea(style="display: none;")
        .ui-state-highlight.ui-corner-all(style="margin-top: 10px; padding: 0 .7em;")
          p
            span.ui-icon.ui-icon-info(style="float: left; margin-right: .3em;")
            strong TITLE
            | Highlighted Message
      .ui-widget#errorarea(style="display: none;")
        .ui-state-error.ui-corner-all(style="margin-top: 10px; padding: 0 .7em;")
          p
            span.ui-icon.ui-icon-alert(style="float: left; margin-right: .3em;")
            strong Alert
            | Error Message
    #mainarea
      #mainview
        #querybox
          textarea#queryeditor SELECT field1,field2,field3 FROM table_hoge WHERE x=1, y="hoge" GROUP BY field4 SORT BY field5 LIMIT 10
        #editbox.ui-corner-all
          ul.operationitems.ui-widget.ui-helper-clearfix
            li#execute_button.ui-state-default.ui-corner-all
              span.ui-icon.ui-icon-play
              | execute
            li#pause_button.ui-state-default.ui-corner-all(style="display: none;")
              span.ui-icon.ui-icon-pause
              | please wait ...
            li#rerun_button.ui-state-default.ui-corner-all(style="display: none;")
              span.ui-icon.ui-icon-play
              | re-run
            li#display_full_button.ui-state-default.ui-corner-all(style="display: none;")
              span.ui-icon.ui-icon-newwin
              | result(full)
            li#display_head_button.ui-state-default.ui-corner-all(style="display: none;")
              span.ui-icon.ui-icon-newwin
              | result(head)
            li#download_tsv_button.ui-state-default.ui-corner-all(style="display: none;")
              span.ui-icon.ui-icon-arrowthickstop-1-s
              | download(tsv)
            li#download_csv_button.ui-state-default.ui-corner-all(style="display: none;")
              span.ui-icon.ui-icon-arrowthickstop-1-s
              | download(csv)
          #statusview
            span
              | Query Status:
              span#querystatus.status_not_executed not executed
            span#queryresult(style="display: none;")
              | , Result:
              span#queryresultlines 0 lines, 
              span#queryresultbytes 0 bytes
          div
            ul#icons1.ui-widget.ui-helper-clearfix
              li#test_status_change_not_executed.ui-state-default.ui-corner-all(title="status not executed")
                span.ui-icon.ui-icon-stop
              li#test_status_change_running.ui-state-default.ui-corner-all(title="status running")
                span.ui-icon.ui-icon-play
              li#test_status_change_executed.ui-state-default.ui-corner-all(title="status executed")
                span.ui-icon.ui-icon-bullet
              li#test_status_change_error.ui-state-default.ui-corner-all(title="status error")
                span.ui-icon.ui-icon-eject
              li#test_status_change_rerunning.ui-state-default.ui-corner-all(title="status re-running")
                span.ui-icon.ui-icon-seek-next
              li#test_show_notice_bar.ui-state-default.ui-corner-all(title="show notice bar")
                span.ui-icon.ui-icon-lightbulb
              li#test_show_error_bar.ui-state-default.ui-corner-all(title="show error bar")
                span.ui-icon.ui-icon-power
        #graphbox
          #chart_div
            #graphboxdummy ...
        #controlbox
          ul#icons2.ui-widget.ui-helper-clearfix
            li#graph_render_execute_1.ui-state-default.ui-corner-all(title="render test graph 1")
              span.ui-icon.ui-icon-carat-1-n
            li#graph_render_execute_2.ui-state-default.ui-corner-all(title="render test graph 2")
              span.ui-icon.ui-icon-carat-1-ne
      #tabview
        #listSelector
          ul
            li
              a(href="#tab-history") history
            li
              a(href="#tab-keywords") keywords
            li
              a(href="#tab-yours") yours
          #tab-history
            div
              h3
                a(href="#") 2011/06
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
            div
              h3
                a(href="#") 2011/05
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
            div
              h3
                a(href="#") 2011/04
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
          #tab-keywords
            div
              h3
                a(href="#") blog
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
            div
              h3
                a(href="#") blogimg
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
            div
              h3
                a(href="#") news
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
          #tab-yours
            div
              h3
                a(href="#") 2011/06
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
            div
              h3
                a(href="#") 2011/05
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
            div
              h3
                a(href="#") 2011/04
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
