!!! html
html
  head
    meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
    title niconico data viewer!
    link(type="text/css", href="/css/redmond/jquery-ui-1.8.13.custom.css", rel="stylesheet")
    link(type="text/css", href="/css/ui.dynatree.css", rel="stylesheet")
    link(type="text/css", href="/css/shib.css", rel="stylesheet")
    link(type="text/css", href="http://fonts.googleapis.com/css?family=Artifika:regular", rel="stylesheet")
    link(type="text/css", href="http://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,bold,bolditalic", rel="stylesheet")
    script(type="text/javascript", src="/js/jquery-1.7.2.min.js")
    script(type="text/javascript", src="/js/jquery-ui-1.8.13.custom.min.js")
    script(type="text/javascript", src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js")
    script(type="text/javascript", src="/js/jquery.dynatree.min.js")
    script(type="text/javascript", src="https://www.google.com/jsapi")
    script(type="text/javascript", src="/js/shib.js")
    script
         (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
         ga('create', 'UA-1682715-4', 'nicodata.info');
         ga('send', 'pageview');
  body
    div(style="display: none;")
      input#detailcontrol(type="hidden", name="detailcontrol", value="#{control}")
    #titlearea
      #title
        a(href="/") ニコニコデータビューア(土日だけ使えます)
      span#subtitle データ分析研究会。詳しい説明は
                    a(href="http://goo.gl/FWsNf4") こちら
                    お金がかかるので、土日だけ利用出来ます。平日は締めます。
                    ご連絡、ご要望は 
                    a(href="https://twitter.com/shibacow")@shibacow
                    まで
    .samplearea
       実行してみよう(病院が来い)
       p.samplearea.
          SELECT * FROM nicodata.comment_data_sampling100 WHERE comment_string LIKE "%病院が来い%" LIMIT 10
       実行してみよう(病院が来いを含むコメントはいくつかな)
       p.samplearea.
          SELECT count(*) FROM nicodata.comment_data_sampling100 WHERE comment_string LIKE "%病院が来い%"
       実行してみよう(病院が来いコメントが多い動画は何かな
       p.samplearea.
          SELECT smid,count(*) as cnt FROM nicodata.comment_data_sampling100 WHERE comment_string LIKE "%病院が来い%" GROUP BY smid ORDER BY cnt DESC LIMIT 20

    .tinfoarea
      ul(style="float:left")
       li 動画情報(テーブル)
       li nicodata.videoinfo_sampling100
       li nicodata.videoinfo_sampling10
       li nicodata.videoinfo
      ul(style="float:left")
       li タグ情報(テーブル)
       li nicodata.tags_sampling100
       li nicodata.tags_sampling10
       li nicodata.tags
      ul(style="float:left")
       li コメント情報(テーブル)
       li nicodata.comment_data_sampling100
       li nicodata.comment_data_sampling10
       li nicodata.comment_data
    p(style="clear:both")
    #noticearea
      .ui-widget#errorarea(style="display: none;")
        .ui-state-error.ui-corner-all(style="padding: 0 .7em;")
          p
            span.ui-icon.ui-icon-alert(style="float: left; margin-right: .3em;")
            strong#errortitle Alert
            span#errormessage(style="margin-left: .7em;") Error Message
      .ui-widget#infoarea(style="display: none;")
        .ui-state-highlight.ui-corner-all(style="padding: 0 .7em;")
          p
            span.ui-icon.ui-icon-info(style="float: left; margin-right: .3em;")
            strong#infotitle TITLE
            span#infomessage(style="margin-left: .7em;") Highlighted Message
    #resultdiag(title="show result", style="display:none;")
      pre#resultdisplay
    #tablesdiag(title="tables status", style="display:none;")
      if defaultdb
        select#table_dbname(style="width: 300;", "data-default"=defaultdb)
          option not loaded
      .loadingimg(style="display:none; padding-top: 2em; text-align: center; vertical-align: center;")
        image(src="/image/ajax-loader.gif")
      #tables(style="display: none;")
    #describediag(title="table schema", style="display:none;")
      if defaultdb
        select#desc_dbname(style="width: 300;", "data-default"=defaultdb)
          option not loaded
      .loadingimg(style="display:none; padding-top: 2em; text-align: center; vertical-align: center;")
        image(src="/image/ajax-loader.gif")
      #describes
    #detailstatusdiag(title="query status", style="display:none;")
      .loadingimg(style="display:none; padding-top: 2em; text-align: center; vertical-align: center;")
        image(src="/image/ajax-loader.gif")
      #detailstatus(style="display: none;")
    #mainarea
      table
        tr
          td#mainviewcell
            #mainview
              #tablesbox.ui-corner-all
                ul.operationitems.ui-widget.ui-helper-clearfix
                  li#tables_diag.ui-state-default.ui-corner-all(title="show tables dialog")
                    span.ui-icon.ui-icon-info
                    | show tables and partitions
                  li#describe_diag.ui-state-default.ui-corner-all(title="show table schema")
                    span.ui-icon.ui-icon-info
                    | show table schemas
              #dangereditbox.ui-corner-all
                ul.dangeritems.operationitems.ui-widget.ui-helper-clearfix
                  li#new_button.ui-state-default.ui-corner-all
                    span.ui-icon.ui-icon-document
                    | new query
                  li#copy_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-copy
                    | copy to new query
                  li#clip_button.ui-state-default.ui-corner-all(style="display: none; margin-left: 12em;")
                    span.ui-icon.ui-icon-link
                    | add to your bookmark
                  li#unclip_button.ui-state-default.ui-corner-all(style="display: none; margin-left: 12em;")
                    span.ui-icon.ui-icon-cancel
                    | remove from bookmark
              #querybox
                textarea#queryeditor(rows="14",disabled,readonly) 土日だけ開いてます。平日は閉めてます。
                //textarea#queryeditor(rows="14")
              #editbox.ui-corner-all
                ul.operationitems.ui-widget.ui-helper-clearfix
                  li#execute_button.ui-state-default.ui-corner-all
                    span.ui-icon.ui-icon-play
                    | execute
                  li#giveup_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-pause
                    | give up
                  li#status_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-search
                    | status
                  li#delete_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-trash
                    | delete
                  li#display_full_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-newwin
                    | show full
                  li#display_head_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-newwin
                    | show head
                  li#download_tsv_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-arrowthickstop-1-s
                    | tsv
                  li#download_csv_button.ui-state-default.ui-corner-all(style="display: none;")
                    span.ui-icon.ui-icon-arrowthickstop-1-s
                    | csv
                #statusview
                  span
                    | Query Status:
                    span#querystatus.status_not_executed not executed
                #queryresult(style="display: none;")
                  div
                    | Result:
                    span#queryresultlines 0 lines, 
                    span#queryresultbytes 0 bytes
                  div#queryresultelapsed
                  div#queryresultschema
          td#tabviewcell
            #tabview
              #listSelector
                ul
                  li#index-yours
                    a(href="#tab-yours") yours
                  li#index-bookmark
                    a(href="#tab-bookmark") bookmark
                  li#index-history
                    a(href="#tab-history") history
                #tab-yours
                #tab-bookmark
                #tab-history
  #runningarea
    #runnings.ui-corner-all
      div no running queries
  #creditarea
      #credits
        |niconico data viewer by shibacow 
        | extends from  shib by tagomoris
