!!! html
html
  head
    meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
    title shib - Query your Hive!
    link(type="text/css", href="css/redmond/jquery-ui-1.8.13.custom.css", rel="stylesheet")
    link(type="text/css", href="css/shib.css", rel="stylesheet")
    link(type="text/css", href="http://fonts.googleapis.com/css?family=Artifika:regular", rel="stylesheet")
    script(type="text/javascript", src="js/jquery-1.5.1.min.js")
    script(type="text/javascript", src="js/jquery-ui-1.8.13.custom.min.js")
    script(type="text/javascript", src="https://www.google.com/jsapi")
    script(type="text/javascript", src="js/data1.js")
    script(type="text/javascript", src="js/data2.js")
    script(type="text/javascript", src="js/shib.graphtest.js")
    script(type="text/javascript", src="js/shib.js")
  body
    #titlearea
      #title shib
      #subtitle "Spotlight for Hidden Inbound request Behaviors"
    #noticearea
      .ui-widget#infoarea(style="display: none;")
        .ui-state-highlight.ui-corner-all(style="margin-top: 10px; padding: 0 .7em;")
          p
            span.ui-icon.ui-icon-info(style="float: left; margin-right: .3em;")
            strong TITLE
            | Highlighted Message
      .ui-widget#errorarea(style="display: none;")
        .ui-state-error.ui-corner-all(style="margin-top: 10px; padding: 0 .7em;")
          p
            span.ui-icon.ui-icon-alert(style="float: left; margin-right: .3em;")
            strong Alert
            | Error Message
    #mainarea
      #mainview
        #querybox
          textarea#queryeditor
        #editbox
          ul#icons.ui-widget.ui-helper-clearfix
            li#graph_render_execute_1.ui-state-default.ui-corner-all(title=".ui-icon-carat-1-n")
              span.ui-icon.ui-icon-carat-1-n
            li#graph_render_execute_2.ui-state-default.ui-corner-all(title=".ui-icon-carat-1-ne")
              span.ui-icon.ui-icon-carat-1-ne
            li.ui-state-default.ui-corner-all(title=".ui-icon-carat-1-e")
              span.ui-icon.ui-icon-carat-1-e
            li.ui-state-default.ui-corner-all(title=".ui-icon-carat-1-se")
              span.ui-icon.ui-icon-carat-1-se
            li.ui-state-default.ui-corner-all(title=".ui-icon-carat-1-s")
              span.ui-icon.ui-icon-carat-1-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-carat-1-sw")
              span.ui-icon.ui-icon-carat-1-sw
            li.ui-state-default.ui-corner-all(title=".ui-icon-carat-1-w")
              span.ui-icon.ui-icon-carat-1-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-carat-1-nw")
              span.ui-icon.ui-icon-carat-1-nw
            li.ui-state-default.ui-corner-all(title=".ui-icon-carat-2-n-s")
              span.ui-icon.ui-icon-carat-2-n-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-carat-2-e-w")
              span.ui-icon.ui-icon-carat-2-e-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-triangle-1-n")
              span.ui-icon.ui-icon-triangle-1-n
            li.ui-state-default.ui-corner-all(title=".ui-icon-triangle-1-ne")
              span.ui-icon.ui-icon-triangle-1-ne
            li.ui-state-default.ui-corner-all(title=".ui-icon-triangle-1-e")
              span.ui-icon.ui-icon-triangle-1-e
            li.ui-state-default.ui-corner-all(title=".ui-icon-triangle-1-se")
              span.ui-icon.ui-icon-triangle-1-se
            li.ui-state-default.ui-corner-all(title=".ui-icon-triangle-1-s")
              span.ui-icon.ui-icon-triangle-1-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-triangle-1-sw")
              span.ui-icon.ui-icon-triangle-1-sw
            li.ui-state-default.ui-corner-all(title=".ui-icon-triangle-1-w")
              span.ui-icon.ui-icon-triangle-1-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-triangle-1-nw")
              span.ui-icon.ui-icon-triangle-1-nw
            li.ui-state-default.ui-corner-all(title=".ui-icon-triangle-2-n-s")
              span.ui-icon.ui-icon-triangle-2-n-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-triangle-2-e-w")
              span.ui-icon.ui-icon-triangle-2-e-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrow-1-n")
              span.ui-icon.ui-icon-arrow-1-n
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrow-1-ne")
              span.ui-icon.ui-icon-arrow-1-ne
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrow-1-e")
              span.ui-icon.ui-icon-arrow-1-e
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrow-1-se")
              span.ui-icon.ui-icon-arrow-1-se
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrow-1-s")
              span.ui-icon.ui-icon-arrow-1-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrow-1-sw")
              span.ui-icon.ui-icon-arrow-1-sw
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrow-1-w")
              span.ui-icon.ui-icon-arrow-1-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrow-1-nw")
              span.ui-icon.ui-icon-arrow-1-nw
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrow-2-n-s")
              span.ui-icon.ui-icon-arrow-2-n-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrow-2-ne-sw")
              span.ui-icon.ui-icon-arrow-2-ne-sw
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrow-2-e-w")
              span.ui-icon.ui-icon-arrow-2-e-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrow-2-se-nw")
              span.ui-icon.ui-icon-arrow-2-se-nw
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowstop-1-n")
              span.ui-icon.ui-icon-arrowstop-1-n
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowstop-1-e")
              span.ui-icon.ui-icon-arrowstop-1-e
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowstop-1-s")
              span.ui-icon.ui-icon-arrowstop-1-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowstop-1-w")
              span.ui-icon.ui-icon-arrowstop-1-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthick-1-n")
              span.ui-icon.ui-icon-arrowthick-1-n
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthick-1-ne")
              span.ui-icon.ui-icon-arrowthick-1-ne
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthick-1-e")
              span.ui-icon.ui-icon-arrowthick-1-e
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthick-1-se")
              span.ui-icon.ui-icon-arrowthick-1-se
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthick-1-s")
              span.ui-icon.ui-icon-arrowthick-1-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthick-1-sw")
              span.ui-icon.ui-icon-arrowthick-1-sw
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthick-1-w")
              span.ui-icon.ui-icon-arrowthick-1-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthick-1-nw")
              span.ui-icon.ui-icon-arrowthick-1-nw
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthick-2-n-s")
              span.ui-icon.ui-icon-arrowthick-2-n-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthick-2-ne-sw")
              span.ui-icon.ui-icon-arrowthick-2-ne-sw
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthick-2-e-w")
              span.ui-icon.ui-icon-arrowthick-2-e-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthick-2-se-nw")
              span.ui-icon.ui-icon-arrowthick-2-se-nw
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthickstop-1-n")
              span.ui-icon.ui-icon-arrowthickstop-1-n
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthickstop-1-e")
              span.ui-icon.ui-icon-arrowthickstop-1-e
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthickstop-1-s")
              span.ui-icon.ui-icon-arrowthickstop-1-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowthickstop-1-w")
              span.ui-icon.ui-icon-arrowthickstop-1-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowreturnthick-1-w")
              span.ui-icon.ui-icon-arrowreturnthick-1-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowreturnthick-1-n")
              span.ui-icon.ui-icon-arrowreturnthick-1-n
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowreturnthick-1-e")
              span.ui-icon.ui-icon-arrowreturnthick-1-e
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowreturnthick-1-s")
              span.ui-icon.ui-icon-arrowreturnthick-1-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowreturn-1-w")
              span.ui-icon.ui-icon-arrowreturn-1-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowreturn-1-n")
              span.ui-icon.ui-icon-arrowreturn-1-n
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowreturn-1-e")
              span.ui-icon.ui-icon-arrowreturn-1-e
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowreturn-1-s")
              span.ui-icon.ui-icon-arrowreturn-1-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowrefresh-1-w")
              span.ui-icon.ui-icon-arrowrefresh-1-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowrefresh-1-n")
              span.ui-icon.ui-icon-arrowrefresh-1-n
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowrefresh-1-e")
              span.ui-icon.ui-icon-arrowrefresh-1-e
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrowrefresh-1-s")
              span.ui-icon.ui-icon-arrowrefresh-1-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrow-4")
              span.ui-icon.ui-icon-arrow-4
            li.ui-state-default.ui-corner-all(title=".ui-icon-arrow-4-diag")
              span.ui-icon.ui-icon-arrow-4-diag
            li.ui-state-default.ui-corner-all(title=".ui-icon-extlink")
              span.ui-icon.ui-icon-extlink
            li.ui-state-default.ui-corner-all(title=".ui-icon-newwin")
              span.ui-icon.ui-icon-newwin
            li.ui-state-default.ui-corner-all(title=".ui-icon-refresh")
              span.ui-icon.ui-icon-refresh
            li.ui-state-default.ui-corner-all(title=".ui-icon-shuffle")
              span.ui-icon.ui-icon-shuffle
            li.ui-state-default.ui-corner-all(title=".ui-icon-transfer-e-w")
              span.ui-icon.ui-icon-transfer-e-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-transferthick-e-w")
              span.ui-icon.ui-icon-transferthick-e-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-folder-collapsed")
              span.ui-icon.ui-icon-folder-collapsed
            li.ui-state-default.ui-corner-all(title=".ui-icon-folder-open")
              span.ui-icon.ui-icon-folder-open
            li.ui-state-default.ui-corner-all(title=".ui-icon-document")
              span.ui-icon.ui-icon-document
            li.ui-state-default.ui-corner-all(title=".ui-icon-document-b")
              span.ui-icon.ui-icon-document-b
            li.ui-state-default.ui-corner-all(title=".ui-icon-note")
              span.ui-icon.ui-icon-note
            li.ui-state-default.ui-corner-all(title=".ui-icon-mail-closed")
              span.ui-icon.ui-icon-mail-closed
            li.ui-state-default.ui-corner-all(title=".ui-icon-mail-open")
              span.ui-icon.ui-icon-mail-open
            li.ui-state-default.ui-corner-all(title=".ui-icon-suitcase")
              span.ui-icon.ui-icon-suitcase
            li.ui-state-default.ui-corner-all(title=".ui-icon-comment")
              span.ui-icon.ui-icon-comment
            li.ui-state-default.ui-corner-all(title=".ui-icon-person")
              span.ui-icon.ui-icon-person
            li.ui-state-default.ui-corner-all(title=".ui-icon-print")
              span.ui-icon.ui-icon-print
            li.ui-state-default.ui-corner-all(title=".ui-icon-trash")
              span.ui-icon.ui-icon-trash
            li.ui-state-default.ui-corner-all(title=".ui-icon-locked")
              span.ui-icon.ui-icon-locked
            li.ui-state-default.ui-corner-all(title=".ui-icon-unlocked")
              span.ui-icon.ui-icon-unlocked
            li.ui-state-default.ui-corner-all(title=".ui-icon-bookmark")
              span.ui-icon.ui-icon-bookmark
            li.ui-state-default.ui-corner-all(title=".ui-icon-tag")
              span.ui-icon.ui-icon-tag
            li.ui-state-default.ui-corner-all(title=".ui-icon-home")
              span.ui-icon.ui-icon-home
            li.ui-state-default.ui-corner-all(title=".ui-icon-flag")
              span.ui-icon.ui-icon-flag
            li.ui-state-default.ui-corner-all(title=".ui-icon-calculator")
              span.ui-icon.ui-icon-calculator
            li.ui-state-default.ui-corner-all(title=".ui-icon-cart")
              span.ui-icon.ui-icon-cart
            li.ui-state-default.ui-corner-all(title=".ui-icon-pencil")
              span.ui-icon.ui-icon-pencil
            li.ui-state-default.ui-corner-all(title=".ui-icon-clock")
              span.ui-icon.ui-icon-clock
            li.ui-state-default.ui-corner-all(title=".ui-icon-disk")
              span.ui-icon.ui-icon-disk
            li.ui-state-default.ui-corner-all(title=".ui-icon-calendar")
              span.ui-icon.ui-icon-calendar
            li.ui-state-default.ui-corner-all(title=".ui-icon-zoomin")
              span.ui-icon.ui-icon-zoomin
            li.ui-state-default.ui-corner-all(title=".ui-icon-zoomout")
              span.ui-icon.ui-icon-zoomout
            li.ui-state-default.ui-corner-all(title=".ui-icon-search")
              span.ui-icon.ui-icon-search
            li.ui-state-default.ui-corner-all(title=".ui-icon-wrench")
              span.ui-icon.ui-icon-wrench
            li.ui-state-default.ui-corner-all(title=".ui-icon-gear")
              span.ui-icon.ui-icon-gear
            li.ui-state-default.ui-corner-all(title=".ui-icon-heart")
              span.ui-icon.ui-icon-heart
            li.ui-state-default.ui-corner-all(title=".ui-icon-star")
              span.ui-icon.ui-icon-star
            li.ui-state-default.ui-corner-all(title=".ui-icon-link")
              span.ui-icon.ui-icon-link
            li.ui-state-default.ui-corner-all(title=".ui-icon-cancel")
              span.ui-icon.ui-icon-cancel
            li.ui-state-default.ui-corner-all(title=".ui-icon-plus")
              span.ui-icon.ui-icon-plus
            li.ui-state-default.ui-corner-all(title=".ui-icon-plusthick")
              span.ui-icon.ui-icon-plusthick
            li.ui-state-default.ui-corner-all(title=".ui-icon-minus")
              span.ui-icon.ui-icon-minus
            li.ui-state-default.ui-corner-all(title=".ui-icon-minusthick")
              span.ui-icon.ui-icon-minusthick
            li.ui-state-default.ui-corner-all(title=".ui-icon-close")
              span.ui-icon.ui-icon-close
            li.ui-state-default.ui-corner-all(title=".ui-icon-closethick")
              span.ui-icon.ui-icon-closethick
            li.ui-state-default.ui-corner-all(title=".ui-icon-key")
              span.ui-icon.ui-icon-key
            li.ui-state-default.ui-corner-all(title=".ui-icon-lightbulb")
              span.ui-icon.ui-icon-lightbulb
            li.ui-state-default.ui-corner-all(title=".ui-icon-scissors")
              span.ui-icon.ui-icon-scissors
            li.ui-state-default.ui-corner-all(title=".ui-icon-clipboard")
              span.ui-icon.ui-icon-clipboard
            li.ui-state-default.ui-corner-all(title=".ui-icon-copy")
              span.ui-icon.ui-icon-copy
            li.ui-state-default.ui-corner-all(title=".ui-icon-contact")
              span.ui-icon.ui-icon-contact
            li.ui-state-default.ui-corner-all(title=".ui-icon-image")
              span.ui-icon.ui-icon-image
            li.ui-state-default.ui-corner-all(title=".ui-icon-video")
              span.ui-icon.ui-icon-video
            li.ui-state-default.ui-corner-all(title=".ui-icon-script")
              span.ui-icon.ui-icon-script
            li.ui-state-default.ui-corner-all(title=".ui-icon-alert")
              span.ui-icon.ui-icon-alert
            li.ui-state-default.ui-corner-all(title=".ui-icon-info")
              span.ui-icon.ui-icon-info
            li.ui-state-default.ui-corner-all(title=".ui-icon-notice")
              span.ui-icon.ui-icon-notice
            li.ui-state-default.ui-corner-all(title=".ui-icon-help")
              span.ui-icon.ui-icon-help
            li.ui-state-default.ui-corner-all(title=".ui-icon-check")
              span.ui-icon.ui-icon-check
            li.ui-state-default.ui-corner-all(title=".ui-icon-bullet")
              span.ui-icon.ui-icon-bullet
            li.ui-state-default.ui-corner-all(title=".ui-icon-radio-off")
              span.ui-icon.ui-icon-radio-off
            li.ui-state-default.ui-corner-all(title=".ui-icon-radio-on")
              span.ui-icon.ui-icon-radio-on
            li.ui-state-default.ui-corner-all(title=".ui-icon-pin-w")
              span.ui-icon.ui-icon-pin-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-pin-s")
              span.ui-icon.ui-icon-pin-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-play")
              span.ui-icon.ui-icon-play
            li.ui-state-default.ui-corner-all(title=".ui-icon-pause")
              span.ui-icon.ui-icon-pause
            li.ui-state-default.ui-corner-all(title=".ui-icon-seek-next")
              span.ui-icon.ui-icon-seek-next
            li.ui-state-default.ui-corner-all(title=".ui-icon-seek-prev")
              span.ui-icon.ui-icon-seek-prev
            li.ui-state-default.ui-corner-all(title=".ui-icon-seek-end")
              span.ui-icon.ui-icon-seek-end
            li.ui-state-default.ui-corner-all(title=".ui-icon-seek-first")
              span.ui-icon.ui-icon-seek-first
            li.ui-state-default.ui-corner-all(title=".ui-icon-stop")
              span.ui-icon.ui-icon-stop
            li.ui-state-default.ui-corner-all(title=".ui-icon-eject")
              span.ui-icon.ui-icon-eject
            li.ui-state-default.ui-corner-all(title=".ui-icon-volume-off")
              span.ui-icon.ui-icon-volume-off
            li.ui-state-default.ui-corner-all(title=".ui-icon-volume-on")
              span.ui-icon.ui-icon-volume-on
            li.ui-state-default.ui-corner-all(title=".ui-icon-power")
              span.ui-icon.ui-icon-power
            li.ui-state-default.ui-corner-all(title=".ui-icon-signal-diag")
              span.ui-icon.ui-icon-signal-diag
            li.ui-state-default.ui-corner-all(title=".ui-icon-signal")
              span.ui-icon.ui-icon-signal
            li.ui-state-default.ui-corner-all(title=".ui-icon-battery-0")
              span.ui-icon.ui-icon-battery-0
            li.ui-state-default.ui-corner-all(title=".ui-icon-battery-1")
              span.ui-icon.ui-icon-battery-1
            li.ui-state-default.ui-corner-all(title=".ui-icon-battery-2")
              span.ui-icon.ui-icon-battery-2
            li.ui-state-default.ui-corner-all(title=".ui-icon-battery-3")
              span.ui-icon.ui-icon-battery-3
        #graphbox
          #chart_div
        #controlbox
          ul#icons2.ui-widget.ui-helper-clearfix
            li.ui-state-default.ui-corner-all(title=".ui-icon-circle-plus")
              span.ui-icon.ui-icon-circle-plus
            li.ui-state-default.ui-corner-all(title=".ui-icon-circle-minus")
              span.ui-icon.ui-icon-circle-minus
            li.ui-state-default.ui-corner-all(title=".ui-icon-circle-close")
              span.ui-icon.ui-icon-circle-close
            li.ui-state-default.ui-corner-all(title=".ui-icon-circle-triangle-e")
              span.ui-icon.ui-icon-circle-triangle-e
            li.ui-state-default.ui-corner-all(title=".ui-icon-circle-triangle-s")
              span.ui-icon.ui-icon-circle-triangle-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-circle-triangle-w")
              span.ui-icon.ui-icon-circle-triangle-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-circle-triangle-n")
              span.ui-icon.ui-icon-circle-triangle-n
            li.ui-state-default.ui-corner-all(title=".ui-icon-circle-arrow-e")
              span.ui-icon.ui-icon-circle-arrow-e
            li.ui-state-default.ui-corner-all(title=".ui-icon-circle-arrow-s")
              span.ui-icon.ui-icon-circle-arrow-s
            li.ui-state-default.ui-corner-all(title=".ui-icon-circle-arrow-w")
              span.ui-icon.ui-icon-circle-arrow-w
            li.ui-state-default.ui-corner-all(title=".ui-icon-circle-arrow-n")
              span.ui-icon.ui-icon-circle-arrow-n
            li.ui-state-default.ui-corner-all(title=".ui-icon-circle-zoomin")
              span.ui-icon.ui-icon-circle-zoomin
            li.ui-state-default.ui-corner-all(title=".ui-icon-circle-zoomout")
              span.ui-icon.ui-icon-circle-zoomout
            li.ui-state-default.ui-corner-all(title=".ui-icon-circle-check")
              span.ui-icon.ui-icon-circle-check
            li.ui-state-default.ui-corner-all(title=".ui-icon-circlesmall-plus")
              span.ui-icon.ui-icon-circlesmall-plus
            li.ui-state-default.ui-corner-all(title=".ui-icon-circlesmall-minus")
              span.ui-icon.ui-icon-circlesmall-minus
            li.ui-state-default.ui-corner-all(title=".ui-icon-circlesmall-close")
              span.ui-icon.ui-icon-circlesmall-close
            li.ui-state-default.ui-corner-all(title=".ui-icon-squaresmall-plus")
              span.ui-icon.ui-icon-squaresmall-plus
            li.ui-state-default.ui-corner-all(title=".ui-icon-squaresmall-minus")
              span.ui-icon.ui-icon-squaresmall-minus
            li.ui-state-default.ui-corner-all(title=".ui-icon-squaresmall-close")
              span.ui-icon.ui-icon-squaresmall-close
            li.ui-state-default.ui-corner-all(title=".ui-icon-grip-dotted-vertical")
              span.ui-icon.ui-icon-grip-dotted-vertical
            li.ui-state-default.ui-corner-all(title=".ui-icon-grip-dotted-horizontal")
              span.ui-icon.ui-icon-grip-dotted-horizontal
            li.ui-state-default.ui-corner-all(title=".ui-icon-grip-solid-vertical")
              span.ui-icon.ui-icon-grip-solid-vertical
            li.ui-state-default.ui-corner-all(title=".ui-icon-grip-solid-horizontal")
              span.ui-icon.ui-icon-grip-solid-horizontal
            li.ui-state-default.ui-corner-all(title=".ui-icon-gripsmall-diagonal-se")
              span.ui-icon.ui-icon-gripsmall-diagonal-se
            li.ui-state-default.ui-corner-all(title=".ui-icon-grip-diagonal-se")
              span.ui-icon.ui-icon-grip-diagonal-se
      #tabview
        #listSelector
          ul
            li
              a(href="#tab-history") history
            li
              a(href="#tab-keywords") keywords
            li
              a(href="#tab-yours") yours
          #tab-history
            div
              h3
                a(href="#") 2011/06
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
            div
              h3
                a(href="#") 2011/05
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
            div
              h3
                a(href="#") 2011/04
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
          #tab-keywords
            div
              h3
                a(href="#") blog
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
            div
              h3
                a(href="#") blogimg
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
            div
              h3
                a(href="#") news
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
          #tab-yours
            div
              h3
                a(href="#") 2011/06
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
            div
              h3
                a(href="#") 2011/05
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
            div
              h3
                a(href="#") 2011/04
              div
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
                div SELECT hoge, pos FROM access_log WHERE ...
