!!! html
html
  head
    meta(http-equiv="Content-Type", content="text/html", charset="utf-8")
    title shib - Query your Hive!
    link(type="text/css", href="css/redmond/jquery-ui-1.8.13.custom.css", rel="stylesheet")
    link(type="text/css", href="css/shib.css", rel="stylesheet")
    link(type="text/css", href="http://fonts.googleapis.com/css?family=Artifika:regular", rel="stylesheet")
    link(type="text/css", href="http://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,bold,bolditalic", rel="stylesheet")
    // testing fonts ...
    link(type="text/css", href="http://fonts.googleapis.com/css?family=Allerta:regular", rel="stylesheet")
    link(type="text/css", href="http://fonts.googleapis.com/css?family=Cousine:regular,italic,bold,bolditalic", rel="stylesheet")
    link(type="text/css", href="http://fonts.googleapis.com/css?family=Inconsolata:regular", rel="stylesheet")
    link(type="text/css", href="http://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,bold,bolditalic", rel="stylesheet")
    // *****
    script(type="text/javascript", src="js/jquery-1.5.1.min.js")
    script(type="text/javascript", src="js/jquery-ui-1.8.13.custom.min.js")
    script(type="text/javascript", src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js")
    script(type="text/javascript", src="https://www.google.com/jsapi")
    script(type="text/javascript", src="js/data1.js")
    script(type="text/javascript", src="js/data2.js")
    script(type="text/javascript", src="js/shib.graphtest.js")
    script(type="text/javascript", src="js/shib.js")
  body
    #titlearea
      #title shib
      #subtitle "Shib is a Hive Interface for Beginners"
    #noticearea
      .ui-widget#errorarea(style="display: none;")
        .ui-state-error.ui-corner-all(style="margin-top: 10px; padding: 0 .7em;")
          p
            span.ui-icon.ui-icon-alert(style="float: left; margin-right: .3em;")
            strong#errortitle Alert
            span#errormessage(style="margin-left: .7em;") Error Message
      .ui-widget#infoarea(style="display: none;")
        .ui-state-highlight.ui-corner-all(style="margin-top: 10px; padding: 0 .7em;")
          p
            span.ui-icon.ui-icon-info(style="float: left; margin-right: .3em;")
            strong#infotitle TITLE
            span#infomessage(style="margin-left: .7em;") Highlighted Message
    #mainarea
      #mainview
        #querybox
          textarea#queryeditor(rows="10")
            SELECT
              (split(fullpath, '\/'))[0] AS dirname,
              referrer,
              bytes
              FROM parsed_log
              WHERE service='blog' AND yyyymmdd='20110512'
              GROUP BY dirname SORT BY dirname
              LIMIT 10;
        #keywordbox.ui-corner-all
          #keyword0area
            .keywordname primary keyword
            input#keyword0.readonly(type="text", readonly)
          #keyword1area
            .keywordname KEY1
            input#keyword1.readonly(type="text", readonly)
          #keyword2area
            .keywordname KEY2
            input#keyword2.readonly(type="text", readonly)
          #keyword3area
            .keywordname KEY3
            input#keyword3.readonly(type="text", readonly)
          #keyword4area
            .keywordname KEY4
            input#keyword4.readonly(type="text", readonly)
          #keyword5area
            .keywordname KEY5
            input#keyword5.readonly(type="text", readonly)
          #keyword6area
            .keywordname KEY6
            input#keyword6.readonly(type="text", readonly)
          #keyword7area
            .keywordname KEY7
            input#keyword7.readonly(type="text", readonly)
          #keyword8area
            .keywordname KEY8
            input#keyword8.readonly(type="text", readonly)
          #keyword9area
            .keywordname KEY9
            input#keyword9.readonly(type="text", readonly)
        #editbox.ui-corner-all
          ul.operationitems.ui-widget.ui-helper-clearfix
            li#new_button.ui-state-default.ui-corner-all
              span.ui-icon.ui-icon-document
              | new query
            li#copy_button.ui-state-default.ui-corner-all(style="display: none;")
              span.ui-icon.ui-icon-copy
              | copy to new query
          ul.operationitems.ui-widget.ui-helper-clearfix
            li#execute_button.ui-state-default.ui-corner-all
              span.ui-icon.ui-icon-play
              | execute
            li#pause_button.ui-state-default.ui-corner-all(style="display: none;")
              span.ui-icon.ui-icon-pause
              | waiting
            li#rerun_button.ui-state-default.ui-corner-all(style="display: none;")
              span.ui-icon.ui-icon-play
              | re-run
            li#display_full_button.ui-state-default.ui-corner-all(style="display: none;")
              span.ui-icon.ui-icon-newwin
              | show full
            li#display_head_button.ui-state-default.ui-corner-all(style="display: none;")
              span.ui-icon.ui-icon-newwin
              | show head
            li#download_tsv_button.ui-state-default.ui-corner-all(style="display: none;")
              span.ui-icon.ui-icon-arrowthickstop-1-s
              | tsv
            li#download_csv_button.ui-state-default.ui-corner-all(style="display: none;")
              span.ui-icon.ui-icon-arrowthickstop-1-s
              | csv
          #statusview
            span
              | Query Status:
              span#querystatus.status_not_executed not executed
            span#queryresult(style="display: none;")
              | , Result:
              span#queryresultlines 0 lines, 
              span#queryresultbytes 0 bytes
          div
            ul#icons1.ui-widget.ui-helper-clearfix
              li#test_status_change_not_executed.ui-state-default.ui-corner-all(title="status not executed")
                span.ui-icon.ui-icon-stop
              li#test_status_change_running.ui-state-default.ui-corner-all(title="status running")
                span.ui-icon.ui-icon-play
              li#test_status_change_executed.ui-state-default.ui-corner-all(title="status executed")
                span.ui-icon.ui-icon-bullet
              li#test_status_change_error.ui-state-default.ui-corner-all(title="status error")
                span.ui-icon.ui-icon-eject
              li#test_status_change_rerunning.ui-state-default.ui-corner-all(title="status re-running")
                span.ui-icon.ui-icon-seek-next
              li#test_show_notice_bar.ui-state-default.ui-corner-all(title="show notice bar")
                span.ui-icon.ui-icon-lightbulb
              li#test_show_error_bar.ui-state-default.ui-corner-all(title="show error bar")
                span.ui-icon.ui-icon-power
        #graphbox
          #chart_div
            #graphboxdummy ...
        #controlbox.ui-corner-all
          ul#icons2.ui-widget.ui-helper-clearfix
            li#graph_render_execute_1.ui-state-default.ui-corner-all(title="render test graph 1")
              span.ui-icon.ui-icon-carat-1-n
            li#graph_render_execute_2.ui-state-default.ui-corner-all(title="render test graph 2")
              span.ui-icon.ui-icon-carat-1-ne
      #tabview
        #listSelector
          ul
            li
              a(href="#tab-yours") yours
            li
              a(href="#tab-history") history
            li
              a(href="#tab-keywords") keywords
          #tab-yours
            div
              h3
                a(href="#") from your browser
              div
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
          #tab-history
            div
              h3
                a(href="#") 2011/06
              div
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
            div
              h3
                a(href="#") 2011/05
              div
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
            div
              h3
                a(href="#") 2011/04
              div
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
          #tab-keywords
            div
              h3
                a(href="#") blog
              div
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
            div
              h3
                a(href="#") blogimg
              div
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
            div
              h3
                a(href="#") news
              div
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
                .queryitem
                  .queryitem_information 2011/06/14, blog
                  .queryitem_statement SELECT (split(fullpath, '\/'))[0] AS dirname, referrer, bytes FROM parsed_log WHERE service='__KEY__' AND yyyymmdd='20110512' GROUP BY dirname SORT BY dirname LIMIT 10;
                  .queryitem_status
                    span.status_executed executed
                    span.queryitem_etc 5131700 bytes, 10117 lines
