/*demo page css*/
body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 50px;}
.demoHeaders { margin-top: 2em; }
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

#title {
    font-family: 'Artifika', serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;
}

#subtitle {
    font-family: 'Artifika', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align:center;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.2;
}

#noticearea {
    width: 50%;
    height: 5em;
    margin-left: 25%;
}

#mainarea {
    position: absolute;
    max-width: 1000px;
    min-width: 540px;
    margin: 50px;
    top: 13em;
}
